.texts {
    width: 80%;
    margin: auto;
    border-radius: 30px;
    height: 700px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    display: flex;

    .textsLeft {
        width: 50%;
        height: 100%;
        // background-color: red;



        h1 {
            padding: 100px;
            font-size: 50px;

        }
    }

    .textsRight {
        width: 50%;
        height: 100%;
        // background-color: blue;
        align-items: center;
        justify-content: center;
        display: flex;

        .textRightTop {
            width: 80%;
            border-radius: 10px;
            height: 80%;
            background-color: #f1f1f1;
        }
    }
}